<div class="input-container">

  <mat-form-field appearance="outline" *ngIf="type === 'text' || type === 'email'">
    <input matInput [type]="type" [formControl]="control" />
    <mat-error *ngIf="control.errors">Invalid input</mat-error>
  </mat-form-field>

  <div *ngIf="type === 'range'">
    <mat-slider min="0" max="10" step="1" showTickMarks discrete>
      <input matSliderThumb [formControl]="control">
    </mat-slider>
    <mat-error *ngIf="control.errors">Invalid input</mat-error>
  </div>

  <mat-form-field appearance="outline" *ngIf="type === 'select'">
    <mat-label>Gender</mat-label>
    <mat-select [formControl]="control">
      <mat-option *ngFor="let option of selectOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
    <mat-error *ngIf="control.errors">Invalid input</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="type === 'date'">
    <input matInput [matDatepicker]="datepicker" [formControl]="control">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

  <button mat-icon-button (click)="handleSend()"><mat-icon>send</mat-icon></button>

</div>
